.head-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2em;
}

.text-cancion {
    width: 100%;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: gold;
    border: 2px solid gold;
}

.cancion-special {
    margin-top: 3vh;
}

@media (min-width: 1200px) {
    .canciones-container{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .canciones-video-container{
        display: column;
        margin-right: 2vw;
    }

    .img-container-canciones {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .img-canciones {
        width: 100%;
        height: auto;
    }

    .video-margenes-canciones {
        width: 40vw;
        height: 22vw;
    }
}

@media (max-width: 1199px) {
    .canciones-container{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    .canciones-video-container{
        display: column;
        margin-right: 2vw;
    }

    .img-container-canciones {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .img-canciones {
        width: 100%;
        height: auto;
    }

    .video-margenes-canciones {
        width: 40vw;
        height: 22vw;
    }
}

@media (max-width: 800px) {
    .canciones-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .canciones-video-container{
        width: 100%;
        display: column;
    }

    .img-container-canciones {
        width: 100%;
    }
    
    .img-canciones {
        width: 100%;
        height: auto;
        margin-top: 3vh;
    }

    .video-margenes-canciones {
        width: 80vw;
        height: 45vw;
    }
}

@media (max-width: 600px) {
    .canciones-container{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .canciones-video-container{
        width: 100%;
        display: column;
        justify-content: center;
        align-items: center;
    }

    .img-container-canciones {
        width: 100%;
    }
    
    .img-canciones {
        width: 100%;
        height: auto;
        margin-top: 3vh;
    }

    .video-margenes-canciones {
        width: 80vw;
        height: 45vw;
    }
}